/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox]{
	margin-top: 0px!important;
}
.display_none{display:none;}
.product-box h1 {
    font-size: 30px!important;
}
 .tile_catalog .button-wrapper .getcoupon-btn:hover{ 
 	    color: #fff!important;
    border-color: initial;
    background-color: #6ec7df!important;
 }
.gform_wrapper li.hidden_label input {
    margin-top: 0px !important;
}
.gfield input[type=text]{
	width: 100%;
}
.fl-content.fl-content-left article.fl-post .row.fl-post-image-beside-wrap {
    margin-left: 0px!important;
    margin-right: 0px!important;
}
 .product-color-variationPlp > .slides{
	display: flex!important;
    align-items: center!important;
}
.top-bar-nav .storename .phone a:before {
	content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 19px!important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;	
}
.top-bar-nav .storename .phone a > span {
	color: #fff!important;
}
.top-bar-nav .storename .phone a:hover span {
	color: #fff!important;
}
.storename .direction a{
	text-align: center!important;
}
ul.store-opening-hrs > li {
    position: relative;
}

ul.store-opening-hrs>li > span {
    position: absolute;
    right: 0;
}
#responsive-menu-search-box {
    padding: 5px 5%!important;
}

#responsive-menu-additional-content {
    padding: 5px 5%!important;
}

#responsive-menu-container #responsive-menu-additional-content .phone a span:before{
	    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
#responsive-menu-container #responsive-menu-additional-content .phone a span{
    color: #fff!important;
}
.video_slider .slider-content .panel-wrapper .slider-content-wrapper{
		display: flex!important;
	    flex-direction: column!important;
	    align-items: center!important;
}

/* Font size 14 */
.product-grid.btn-grey .product-variations1>h5, .product-grid.btn-grey>h4>span, .product-grid .fl-button-text, .floorte-color, .featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button, .fl-photo-caption {
    font-size: 14px!important;
}

#main-slider_4 .image-block_4, #main-slider_4.image-block_4 a, #main-slider_4 .image-block_4 a img{
	width: 100%!important;
}

#main-slider_4{
	height: auto!important;
}
#main-slider_4 .slider-content-wrapper .right-block .title {
    font-size: 30px !important;
    line-height: 1.6em !important;
    color: #cc252a;
    text-transform: capitalize;
}

.ls-nav-right-arrow, .ls-nav-left-arrow {
	    top: 40%!important;
}


.ui-datepicker-title select{
    color: #000!important;
}
.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button {
    display: block!important;
    text-align: center!important;
}

.fl-page-nav-right.fl-page-header-fixed .fl-logo-img, .fl-page-header-fixed .fl-logo-img{
    max-height: 65px!important;
}


a.button, a.fl-button, 
a.fl-button:visited, 
.fl-builder-content a.fl-button, 
.fl-builder-content a.fl-button:visited {
    border-radius: 0px;
    /* padding: 7px 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-decoration: none; */
}
.gform_wrapper .gfield_required {
    color: #790000 !important;
}

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
    background-position: center!important;
    cursor: pointer;
}

.storename{
    padding: 0px;
    list-style: none;
}

.fl-node-5cbdc4497c6a0 .storename span{
  color: #fff !important;
}

.storename p,
.storename span{
    margin: 0px !important;
    color: #000 !important;
}

ul.store-opening-hrs {
    list-style: none;
    padding: 0px;
}

.slide.slick-slide {
    text-align: center;
}

.footer-col .storename p,
.footer-col .storename span{
    margin: 0px !important;
    color: #fff !important;
}
footer a:hover{
	text-decoration:underline!important;
}
.fl-node-5cd3edbf6b3ff .direction a{
  width: 100%;
  text-align: center;
}

.fl-node-5cd3edbf6b3ff .direction a span{
  color: #fff !important;
}

.active-gallery-modal .product-box a.fl-button{
    background: #000;
    border: 1px solid #000;
}

.active-gallery-modal .product-box a.fl-button:hover{
    background: #cc252a;
    border: 1px solid #981c1f;
}

.store-opening-hrs li {
    padding: 10px;
}

#gform_submit_button_3{
  border-radius: 0px;
}

/*------------------TOP BAR STYLES ------------------*/
.fl-page-bar ul li a,
.fl-page-bar ul li a span,
.fl-page-bar ul li a p{
    color:#fff!important;
}
.fl-page-bar ul li a:hover span,
.fl-page-bar-text .storename .inline_address a:hover{
    text-decoration: underline;
}
.fl-page-bar-text .storename .inline_address a:before{
	content: "\f041";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-size: 16px;
    margin-right: 10px;
}
.fl-page-bar .fl-page-bar-row{
    display: flex;
    align-items: center;
}
.fl-page-bar .fl-page-bar-row ul{
    margin-bottom: 0px!important;
}
ul#topbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

ul#topbar li {
  float: left;
  list-style-type: none;
}

ul#topbar li a {
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}


.top-bar-nav .storename .phone a>span {
  color: #fff!important;
}

.gform_wrapper .ginput_container_time input, .gform_wrapper .ginput_container_time select{
    padding: 5px!important;
}
.ginput_container_time select{
    min-width: 60px!important;
    width: 60px!important;
}

.ginput_container_checkbox ul li a{
    color: #000!important;
}

.gform_wrapper .gfield_time_hour i{
    margin-top:-2px!important;
}

/*Filter Select Design*/
.facetwp-selections ul:before {
    content: "Your Selection";
    font-weight: 700;
    font-size: 16px; 
    border-bottom: 2px solid #630a0a;
    padding: 0px;
    width: 100%!important;
    position: relative;
    display: block;
    margin-bottom: 5px;
    color: #630a0a;
    padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label{
    font-size: 14px;
    font-weight: 700;
}

.facetwp-selections ul li .facetwp-selection-value{
	font-size: 14px;
}

.facetwp-selections ul {
    padding-left: 0px;
    margin-bottom: 20px;
}


/* .fl-module-advanced-tabs .ua-icon{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "FontAwesome";
 }
 .fl-module-advanced-tabs .ua-icon-chevron-down2:before{
    content: "\f078";
 } */

/*------------------END TOP BAR STYLES ------------------*/




#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
    background-color: #7D302D;
    border-top: 1px solid #fff;
  }
  
  
  #moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
  button.moove-gdpr-infobar-close-btn:hover i {
    color: #f5f5f5 !important;
    opacity: 0.7;
  }
  
  .moove-gdpr-button-holder>button.mgbutton {
    background-color: #7d302d !important;
    color: #fff !important;
    border-radius: 0px!important;
    font-family: "Montserrat",sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;
    box-shadow: none !important;
    border: 1px solid #fff !important;
  }
  .moove-gdpr-button-holder>button.mgbutton:hover {
    background: #956863  !important;
    color: #fff!important;
    text-transform: uppercase!important;
    border-color: #956863  !important;
    border: 1px solid #fff !important;

  }
  
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
    color: #000 !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
    background-color: #7d302d !important;
    border: 1px solid #fff !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, 
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,
  #moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
    color: #fff !important;
    background-color: #956863  !important;
  }
  button.moove-gdpr-infobar-close-btn:hover i {
    color: #956863  !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
    background-color: #7d302d !important;
    color: #fff!important;  
    border: 0px!important;
    border-radius: 0px!important;
    font-family: "Montserrat",sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;  
      
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
    background: #956863  !important;
    color: #fff !important;
    border: 0px!important;
  }
  
  .moove-gdpr-tab-main-content a:hover {
    color: #7d302d !important;
  }

.facet_wrap button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a, 
.row.search-row .posts_search_result .product-item a.fl-button, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button {
    background: #7d302d!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover, 
.row.search-row .posts_search_result .product-item a.fl-button:hover, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button:hover {
    background: #956863!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}

.product-plp-grid > .product-row > .col-lg-4 > .fl-post-grid-post .product-grid.btn-grey>h4>span:first-child, 
.row.search-row .posts_search_result.post_list.product-grid.swatch h2, 
div#search-result-page .product-plp-grid .product-item .fl-post-grid-post .fl-post-grid-text h4>span:first-child{
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px !important;
    line-height: 1.2em;
    min-height: 34px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}
div#mm-product-list span.facetwp-selection-value {
    word-break: break-all;
}



@media screen and (min-width: 767px){
.gfield{
	padding-right: 15px!important;
}	
}
@media(max-width:1080px){
    .gform_wrapper #field_17_2, .gform_wrapper #field_17_7{
        padding-right: 0px!important;
    }

    .fl-page-nav .navbar-nav li>a{
        padding: 15px 4px;
        font-size: 13px;
    }
    .fl-page-nav-right .fl-page-header-row .fl-page-nav-col{
        padding-left: 0px;
    }
}

.uabb-image-carousel .slick-arrow {
background-color: transparent!important;
}

.uabb-image-carousel .slick-arrow > i {
background-color: #f4f4f4!important;
}

.uabb-image-carousel .slick-arrow > i:before {
color: #000!important;
}

@media (max-width:992px){
	.open_sidebar {
		display: block;
		margin: 0 auto;
		max-width: 120px;
		width: 100%;
		padding-bottom: 20px;
	}

	select.facetwp-per-page-select {
		border: 1px solid #000000;
	}
	header .fl-page-header-logo{
	text-align: left!important;
}
ul.store-opening-hrs>li > span {
    position: absolute;
    right: 0;
    font-weight: 300;
    left: 200px;
}

	.fl-content-slider .fl-slide-content{
	padding: 0px!important;
}
.max-width-issue img{
	max-width: 360px!important;
	margin: 0 auto!important;
	display: inline-block;
}
    /* .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;}
    #product-list-top-filters .fl-col-group .fl-col{
        width: auto!important;
    } */
    .facet-inner .facetwp-checkbox{
        background-position: 0px 3px;
    }
    .fl-page-bar .text-left{
        width: 35%;
    }
    .fl-page-bar .text-right{
        width: 65%;
    }
    .fl-page-nav .navbar-nav li>a{
        padding: 15px 10px;
    }
    .fl-page-nav-search{
        display: block;
    }
	#responsive-menu-container #responsive-menu ul.responsive-menu-submenu-depth-1 a.customlink {
    padding-left: 10%;
    }
    /* Slider height issue on mobile open */

    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
    .fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
        min-height: 500px;
    }
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
        max-height: 500px!important;
        width: auto;
        margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
        max-height: 500px !important;
    }

    .fl-content-slider .fl-slide-bg-link{
        z-index: 2;
    }

        /* Slider height issue on mobile closed */
    .fl-page-bar .text-left {
    width: 100%;
} 
.fl-page-bar .text-right {
    width: 100%;
    text-align: center;
    padding: 4px 10px;
} 
 }
 @media (max-width:767px){
 ul.store-opening-hrs>li > span {
    position: absolute;
    font-weight: 300;
    left: auto;
		 right: 0;
    }
    .fl-page-nav-search{
        display: none;
    }
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: block;}
    .facetwp-per-page, .facetwp-pager{ float: none;}
    .facetwp-per-page, .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: center !important;}

    .fl-page-bar .text-left{
        width: 100%;
    }
    #responsive-menu-additional-content a span{
        color: #fff;
    }
    .fl-content-slider-navigation a.disabled, .bx-controls a.disabled{
        color: #000!important;
        fill: #000!important;
    }
    .product-grid.swatch > h4 {
        font-size: 16px!important;
    }

    .product-grid.swatch .product-variations1 > h5{
        font-size: 16px!important;
    }
}



 @media(max-width:450px){
    .footermenu .menu-item a{
        font-size: 14px;
    }
 }

 @media print {
    @page {
        size:'A4';
        margin: 0mm;
        text-align: center;
    }

    header, footer, .fl-page-bar, #button-print, .fl-module-rich-text{
        display: none!important;
    }
    
}

/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
    /* Slider height issue on mobile open */
    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
    .fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
        min-height: 500px;
    }
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
        max-height: 500px!important;
        width: auto;
        margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
        max-height: 500px !important;
    }
    .fl-content-slider .fl-slide-bg-link{
        z-index: 2;
    }
    /* Slider height issue on mobile closed */
    
	/* Facet Filter CSS	- iPad */
	.facet_filters .close_bar {
        display:block;
    }
    #product-list-top-filters .fl-col-group .fl-col {
        width: 100%!important;
        text-align: center
    }
    #product-list-top-filters .fl-heading,.facetwp-counts,.facetwp-pager,.facetwp-per-page,.open_sidebar {
        text-align: center!important
    }
    .facetwp-per-page-select {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
	.open_sidebar a {
		float: none!important;
	}
	.facet_filters {
        position:fixed;
        top:0px;
        left:-5px;
        width:80%;
        height:100%;
        overflow:auto;
        background-color:white;
        z-index:10;
        left:-1000px;
        -moz-box-shadow:    5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow:         5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar {
        background-color:#008c8c;
        overflow:hidden;
        width:100%;
        padding:5px;
        display:block;
        margin-bottom:20px;
    }
    .facet_filters .close_bar .close{
        float:right;
        color:white;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    	filter: alpha(opacity=100);
    	opacity: 1;
    }
    .open_sidebar,
    .close_sidebar_button{
        display:block;
    }
	.facetwp-pager {
        float: none!important;
        margin-top: 10px
    }
	/* Products List CSS - iPad */
	.facetwp-template .product-grid .product-row>.col-md-4 {
        width:33.33%;
        float: left;
        clear: none!important
    }
    .facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
        clear: left!important
    }
    .product-row>div.col-md-3:nth-child(3n+1) {
        clear: none!important
    }
}
@media only screen and (max-width: 599px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
        width:48%;
        clear: none !important
    }
	.facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
		clear: none !important;
	}
}
@media only screen and (max-width: 480px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
		width:100%;
		clear: both !important
	}
    
}
/* PLP Page Css iPad Air */